run = "cowsay Configure me!"
entrypoint = "README.md"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["cowsay"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[workflows]
runButton = "Next.js Dev Server"

[[workflows.workflow]]
name = "Next.js Dev Server"
author = 36642569
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd techpoint && npm run dev"
